.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/font/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/assets/font/Montserrat-Bold.ttf');
}


@font-face {
  font-family: 'Playfair Display SC';
  src: url('/assets/font/playfairdisplaysc-regular.ttf');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/assets/font/PlayfairDisplay-Regular.ttf');
}

.logo {
  margin-left: 25%;
  margin-top: 26px;
}

.header_main {
  height: 728px;
  background: #f9f5ff;
}

.header {
  margin-top: 88px;
  height: 39px;
  font-family: "Playfair Display SC";
  font-size: 29px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.7909091px;
}

.header_title {
  margin-top: 120px;
  text-align: center
}

.header_title p{
  font-family: "Playfair Display";
  font-size: 52px;
  font-weight: 700;
  line-height: 69px;
  text-align: center;
  margin: auto;
}

.register_title p{
  font-family: "Playfair Display SC";
  font-size: 52px;
  font-weight: 700;
  line-height: 69px;
  text-align: center;
  margin: auto;
}

.btn {
  width: 168px;
  height: 54px;
}

#rectangle {
  visibility: hidden;
  width: 168px;
  height: 54px;
  background: #e9dff8;
}

.login {
  width: 41.78px;
  height: 17px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.3818184px;
  text-transform: capitalize;

}
.middle {
  margin: auto;
  text-align: center;
}

.header_title .createAcco{
  width: 295px;
  height: 54px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.3818184px;
  background: #e9dff8;
  margin-left:20px;
  margin-right: 20px;
  text-transform: capitalize;
}

.header_title .findBride{
  width: 295px;
  height: 54px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.3818184px;
  background: #c8b3e8;
  margin-left:20px;
  margin-right: 20px;
  text-transform: none;
}
.header_title .accountBtn{
  margin-top: 50px;
}

.header_title .createAccoSub {
  width: 295px;
  height: 54px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.3818184px;
  background: #e9dff8;
  text-transform: capitalize;
  margin: auto;
  /* box-shadow: 0px 10px 10px #aaa9a9; */
}

.foot_image {
  margin-bottom: -150px;
}

.main-content {
  margin-top: 25%;
  
}

.mainbody_title {
  font-family: "Playfair Display";
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
}
.mainbody_text {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  width: 90%;
}
.group_image {
  width: 100%;
}

.footer-bar {
  padding-bottom: 150px;
  background: #fff8f5;
  margin-top: 10%;
  
}

.footer-btn {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.4363638px;
  height:20px;
}

.footer-bar p {
  opacity: 0.5;
 
  height: 25px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.3545456px;
}

.mobile-based-item {
  display: none !important;
}

.profile_logo p{
  height: 21px;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.4636365px;
  display: inline;
}

.profile_logo img {
  margin: 0px;
}

.size_bar {
  height: 84px;
  border: solid 1px #7f7f7f;
  padding: 10px;
}

.profile_logo .size{
  width: 43px;
  height: 43px;
  background: #e9dff8;
  padding: 5px;
  margin-left: 10px;
}
.sidebar_button {
  margin: auto;
}
.sidebar_button Button{
  height: 94px;
  width: 226px;
  background: #e9dff8;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.3818184px;
  text-transform: capitalize;
  margin: 5px;
}

.size_bar_item {
  margin: auto;
}

.mainProduct {
  text-align: center;
}

@media screen and (max-width: 600px) {
.logo {
  width: 60%;
}
.profile_logo img{
  width: 30%;
}
.header_title .createAccoSub{
  width: 251px;
}

.register_title p {
  font-size: 40px;
}
.header_title p {
  font-size: 40px;
}

.foot_image {
  width: 20%;
  margin-bottom: 0px;
}

.web-based-item {
  display: none !important;
}

.mobile-based-item {
  display: block !important;
}
}


.filters{
  width: 96px;
  height: 28px;
  color: #000000;
  font-family: "Montserrat Medium";
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.filters-inactivate{
  height: 20px;
  color: #7f7f7f;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.44px;
  margin-bottom: 12px;
}

.filters-activate{
  height: 20px;
  color: #000000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.44px;
  margin-bottom: 12px;
}

.filters-uncheck{
  /* Style for "Rectangle" */
  width: 22px;
  height: 22px;
  border: 1px solid #7f7f7f;
}

.filters-checked{
  /* Style for "Rectangle" */
  width: 22px;
  height: 22px;
  background-color: #e9dff8;
}
.Bigcontainer{
  width: 80%;
  margin:auto;
}
.username{
  /* Style for "Lindsey Pr" */
  width: 133px;
  height: 21px;
  color: #000000;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.46px;
  display: inline;
  margin-right: 16px;
}
.marginauto{
  margin:auto;
}